body {
    background-color: rgba(0,0,0,.1);
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

@media (min-width: 0px) {
    .col-s-1 {width: 8.33%}
    .col-s-2 {width: 16.66%}
    .col-s-3 {width: 25%}
    .col-s-4 {width: 33.33%}
    .col-s-5 {width: 41.66%}
    .col-s-6 {width: 50%}
    .col-s-7 {width: 58.33%}
    .col-s-8 {width: 66.66%}
    .col-s-9 {width: 75%}
    .col-s-10 {width: 83.33%}
    .col-s-11 {width: 91.66%}
    .col-s-12 {width: 100%}

    .p_faq {
        padding: 1em 3vw;
    }
}

@media (min-width: 826px) {
    .col-m-1 {width: 8.33%}
    .col-m-2 {width: 16.66%}
    .col-m-3 {width: 25%}
    .col-m-4 {width: 33.33%}
    .col-m-5 {width: 41.66%}
    .col-m-6 {width: 50%}
    .col-m-7 {width: 58.33%}
    .col-m-8 {width: 66.66%}
    .col-m-9 {width: 75%}
    .col-m-10 {width: 83.33%}
    .col-m-11 {width: 91.66%}
    .col-m-12 {width: 100%}

    .p_faq {
        padding: 3em 3vw;
    }
}

[class*="col-"] {
    float: left;
    /*border: 1px solid lightgray;*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}



.contendor_carrito {
    -webkit-box-shadow: 9px 10px 11px -6px rgba(0,0,0,0.23);
    -moz-box-shadow: 9px 10px 11px -6px rgba(0,0,0,0.23);
    box-shadow: 9px 10px 11px -6px rgba(0,0,0,0.23);
    background-color: white;
}

.terminos_titulo {
    padding: 1em 5vw;
    font-size: xx-large;
}

.contendor_texto {
    padding: 1em 5vw;
    font-size: medium;
    line-height: 30px;
}

.m-0{margin:0;}