/*div {
    width: 20%;
    border: 1px solid black;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}*/

*{
    box-sizing: border-box;
}


@media(min-width: 0px){
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%;}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%;}
    .col-s-12{width: 100%;}
}

@media(min-width: 768px){
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%;}
    .col-m-5{width: 41.66%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%;}
    .col-m-12{width: 100%;}
}

[class *= "col-"]{
    float: left;
}

.row::after{
    content:"";
    clear: both;
    display: table;
}

.p-2{padding: 1em;}

.border-2{border: 1px solid blue;}

.color-1{background-color: blue; color: white;}

.cabezera {
    width: 100%;
    background-color: black;
    display: inline-block;
    color: white;
    padding: 2vw 2vw;
}

.cabezera h1 {
    padding-top: 2em;
    padding-left: 2vw;
    display:inline;
}

.busqueda {
    width: 95%;
    text-align: right;
    
}

.busqueda input {
    width: 30%;
    height: 20px;
}

#div_menu {
    background-color: black;
}

#menu {
    padding: 0px;
    color: white;
    display: inline-block;
}

#menu li {
    display: inline-block;
    padding: 10px;
    width: 200;
}

.seccion_articulos {
    padding: 2em 2em;
}

.seccion_titulo {
    font-size: 2em;
}

.flex-container {
    padding: 2em 0em;
    border: solid 1px black;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    height: 400px;
    align-items: flex-start;
    /*align-content: space-between;*/
}

.flex-container div {
    background-color: cadetblue;
    font-size: 2em;
    padding: 0.5em;
    margin: 0.25em;
}

.hauto{height: auto;}