body {
    background-color: rgba(0,0,0,.1);
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.centro {
    text-align: center;
}

@media (min-width: 0px) {
    .col-s-1 {width: 8.33%}
    .col-s-2 {width: 16.66%}
    .col-s-3 {width: 25%}
    .col-s-4 {width: 33.33%}
    .col-s-5 {width: 41.66%}
    .col-s-6 {width: 50%}
    .col-s-7 {width: 58.33%}
    .col-s-8 {width: 66.66%}
    .col-s-9 {width: 75%}
    .col-s-10 {width: 83.33%}
    .col-s-11 {width: 91.66%}
    .col-s-12 {width: 100%}

    .compra_titulo {
        font-size: medium;
        padding: 1em;
        width: 30%;
    }

    .compra_precio {
        font-size: medium;
        font-weight: bold;
        height: 100px;
        padding-top: 50px;
        padding-right: 2em;
        text-align: right;
        width: 100%;
    }

    .p_carrito {
        padding: 1em 2vw;
    }

    .compra_subtotal {
        padding-right: 1.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: large;
    }

    .compra_texto_total {
        width: 200px;
        border-top: 1px solid teal;
        padding-right: 1.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: large;
        font-weight: bold;
    }

    header label{
        display: block;
    }

    .menuV2{
        position: absolute;
        background: rgba(181, 188, 194, 0.9);
        width: 70%;
        margin-left: -70%;
        transition: 0.5s;
    }


    .menuV2 ul{
        flex-direction: column;
        padding:0;
        margin: 0;
    }

    .menuV2 li{
        display: block;
        padding: 0.5em 1em;
        color: white;
        flex-grow: 1;
        text-align: center;
    }

    #btn-menu:checked ~ .menuV2{
        margin: 0;
    }
}

@media (min-width: 826px) {
    .col-m-1 {width: 8.33%}
    .col-m-2 {width: 16.66%}
    .col-m-3 {width: 25%}
    .col-m-4 {width: 33.33%}
    .col-m-5 {width: 41.66%}
    .col-m-6 {width: 50%}
    .col-m-7 {width: 58.33%}
    .col-m-8 {width: 66.66%}
    .col-m-9 {width: 75%}
    .col-m-10 {width: 83.33%}
    .col-m-11 {width: 91.66%}
    .col-m-12 {width: 100%}

    .compra_titulo {
        font-size: larger;
        padding: 1em;
        width: 30%;
    }

    .compra_precio {
        font-size: large;
        font-weight: bold;
        height: 100px;
        padding-top: 50px;
        padding-right: 2em;
        text-align: right;
        width: 100%;
    }

    .p_carrito {
        padding: 3em 3vw;
    }

    .compra_subtotal {
        padding-right: 1.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: x-large;
    }

    .compra_texto_total {
        width: 200px;
        border-top: 1px solid teal;
        padding-right: 1.5em;
        padding-top: 0.5em;
        padding-bottom: 0.5em;
        font-size: x-large;
        font-weight: bold;
    }

    header label{
        display: none;
        width: 1.5em;
        height: 2.5em;
        padding: 0.5em;
    }
    .menuV2{
        position: absolute;
        background: steelblue;
        width: 100%;
        margin-left: 0%;
        transition: none;
    }

    
    .menuV2 ul{
        margin: 0;
        list-style:none;
        padding:0;
        display: flex;
        flex-direction: row;
    }

    .menuV2 li{
        display: block;
        padding: 0.5em 1em;
        color: white;
        flex-grow: 1;
        text-align: center;
    }    
}

[class*="col-"] {
    float: left;
    /*border: 1px solid lightgray;*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.m-0{margin: 0;}

.contendor_carrito {
    -webkit-box-shadow: 9px 10px 11px -6px rgba(0,0,0,0.23);
    -moz-box-shadow: 9px 10px 11px -6px rgba(0,0,0,0.23);
    box-shadow: 9px 10px 11px -6px rgba(0,0,0,0.23);
    background-color: white;
}

.carrito_titulo {
    padding: 0.5em 1em;
    font-size: xx-large;
}

.contendor_productos {
    padding: 1vw;
}

.compra_producto {
    display: flex;
    border-bottom: 1px solid teal;
    padding: 1em 1vw;
}

.compra_total {
    display: flex;
    padding: 1em;
    text-align: right;
    flex-direction: column;
    align-items: flex-end;
}

#b_comprar {
    padding: 1em;
    text-align: center;
}

.myButton {
	background-color:#44c767;
	border-radius:10px;
	border:1px solid #ffffff00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}