*{
    box-sizing: border-box;
}


.row::after{
    content:"";
    clear: both;
    display: table;
}

@media(min-width: 0px){
    .col-s-1{width: 8.33%;}
    .col-s-2{width: 16.66%;}
    .col-s-3{width: 25%;}
    .col-s-4{width: 33.33%;}
    .col-s-5{width: 41.66%;}
    .col-s-6{width: 50%;}
    .col-s-7{width: 58.33%;}
    .col-s-8{width: 66.66%;}
    .col-s-9{width: 75%;}
    .col-s-10{width: 83.33%;}
    .col-s-11{width: 91.66%;}
    .col-s-12{width: 100%;}
}

@media(min-width: 768px){
    .col-m-1{width: 8.33%;}
    .col-m-2{width: 16.66%;}
    .col-m-3{width: 25%;}
    .col-m-4{width: 33.33%;}
    .col-m-5{width: 41.66%;}
    .col-m-6{width: 50%;}
    .col-m-7{width: 58.33%;}
    .col-m-8{width: 66.66%;}
    .col-m-9{width: 75%;}
    .col-m-10{width: 83.33%;}
    .col-m-11{width: 91.66%;}
    .col-m-12{width: 100%;}

   
}

[class *= "col-"]{
    float: left;
}

.m-0{margin: 0;}
.m-1{margin: 0.25em;}
.m-2{margin: 0.5em;}

.m-contenedor{
    margin-left:1em;
    margin-right: 3em;
    margin-top: 0;
    margin-bottom: 0;
}

.p-1{ padding: 0.25em;}
.p-2{padding: 0.5em;}
.p-3{padding: 1em;}
.p-4{padding: 1.25em;}
.p-5{padding: 1.5em;}

.pt-0{padding-top: 0;}
.pt-1{padding-top: 0.25em;}
.pt-2{padding-top: 0.5em;}

.p-1b{padding-bottom: 0.5em}
.p-2b{padding-bottom: 1em}

.p-c{
    padding-top: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;
    padding-bottom: 0.5em;
}

.bb-1{border-bottom: 1px solid lightgray;}

.border-1{border: 1px solid black;}


.text-center{text-align: center;}


.img-fluid {
    max-width: 100%;
    height: auto;
}

#foto{
    background-image: url("https://picsum.photos/200/200");
    height: 10em;
    align-items: flex-end;
}

#foto div{
    font-size: 1.5em;
    font-family: Arial, Helvetica, sans-serif;
}

.flex{
    display: flex;
}

.menu{
    padding: 0.5em;
    color: white;
    background-color: steelblue;
}

.menu:hover{
    border-bottom: 0.2em solid yellow;
}

.pS{
    padding-top: 3.5em;
    padding-right: 1em;
    padding-left: 1em;
    padding-bottom: 0.25em;
}

.search{
    width: 100%;
    line-height: 20px;
    direction: ltr;
}

.color-Search{background-color: #0099cc; color: white;}

.color-Contenedor{background-color: #0099cc;}
.color-Caja{background-color: lightgray;}

.font-Header{font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;}
.font-2{font-family: 'Roboto Condensed', sans-serif;}


.contenedor_producto {
    -webkit-box-shadow: 9px 10px 11px -6px rgba(0,0,0,0.23);
    -moz-box-shadow: 9px 10px 11px -6px rgba(0,0,0,0.23);
    box-shadow: 9px 10px 11px -6px rgba(0,0,0,0.23);
    background-color: white;
}
