body {
    background-color: rgba(0,0,0,.1);
    font-family: 'Roboto', sans-serif;
}

* {
    box-sizing: border-box;
}

.b_all {
    border: 1px solid lightgray;
}

.col-1 {width: 8.33%}
.col-2 {width: 16.66%}
.col-3 {width: 25%}
.col-4 {width: 33.33%}
.col-5 {width: 41.66%}
.col-6 {width: 50%}
.col-7 {width: 58.33%}
.col-8 {width: 66.66%}
.col-9 {width: 75%}
.col-10 {width: 83.33%}
.col-11 {width: 91.66%}
.col-12 {width: 100%}

@media (min-width: 0px) {
    .col-s-1 {width: 8.33%}
    .col-s-2 {width: 16.66%}
    .col-s-3 {width: 25%}
    .col-s-4 {width: 33.33%}
    .col-s-5 {width: 41.66%}
    .col-s-6 {width: 50%}
    .col-s-7 {width: 58.33%}
    .col-s-8 {width: 66.66%}
    .col-s-9 {width: 75%}
    .col-s-10 {width: 83.33%}
    .col-s-11 {width: 91.66%}
    .col-s-12 {width: 100%}
}

@media (min-width: 826px) {
    .col-m-1 {width: 8.33%}
    .col-m-2 {width: 16.66%}
    .col-m-3 {width: 25%}
    .col-m-4 {width: 33.33%}
    .col-m-5 {width: 41.66%}
    .col-m-6 {width: 50%}
    .col-m-7 {width: 58.33%}
    .col-m-8 {width: 66.66%}
    .col-m-9 {width: 75%}
    .col-m-10 {width: 83.33%}
    .col-m-11 {width: 91.66%}
    .col-m-12 {width: 100%}
}

[class*="col-"] {
    float: left;
    /*border: 1px solid lightgray;*/
}

.row::after {
    content: "";
    clear: both;
    display: table;
}

.p_producto {
    padding: 3em 6vw;
}

.contendor_producto {
    -webkit-box-shadow: 9px 10px 11px -6px rgba(0,0,0,0.23);
    -moz-box-shadow: 9px 10px 11px -6px rgba(0,0,0,0.23);
    box-shadow: 9px 10px 11px -6px rgba(0,0,0,0.23);
    background-color: white;
}

@media (min-width: 0px) {
    .producto_imagen {
        padding: 1em 2em;
    }

    .producto_detalles {
        padding: 1em 2em;
    }

    .producto_mas {
        padding: 1em 2em;
    }

    .img_producto {
        max-height: 100%;
        width: 40vw;
    }
}

@media (min-width: 826px) {
    .producto_imagen {
        padding: 2em 2em;
        /*height: 300px;*/
        border-right: 1px solid lightgray;
    }

    .producto_detalles {
        padding: 2em 2em;
        height: 300px;
    }

    .producto_mas {
        padding: 2em 2em;
        border-right: 1px solid lightgray;
    }

    .img_producto {
        max-height: 100%;
        width: 30vw;
    }
}

.caja_imagen {
    text-align: center;
}

.contenedor_imagenes {
    padding: 1em 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}

.img_otras {
    max-width: 100%;
    height: auto;
}

.img_selec {
    border: solid 5px yellow;
    border-radius: 4px;
}

.producto_texto {
    padding: 0.5em;
}

.producto_nombre {
    font-weight: bold;
    font-size: x-large;
}

.producto_precio {
    font-size: xx-large;
}

.producto_descripcion {
    font-size: large;
}

.producto_cantidad {
    font-size: large;
    color: teal;
}

.producto_titulo {
    font-weight: bold;
    font-size: x-large;
}

.c_carctersiticas {
    padding: 1em;
    border-top: 1px solid lightgray;
}

.producto_caracteristica {
    padding-left: 1em;
    font-size: large;
    color: teal;
}

#b_comprar {
    padding: 1em;
    text-align: center;
}

.myButton {
	background-color:#44c767;
	border-radius:10px;
	border:1px solid #ffffff00;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:17px;
	padding:12px 34px;
	text-decoration:none;
	text-shadow:0px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}

/*Zona de caracterisiticas*/
.contenedor_caracteristicas {
    padding: 1em 0.5em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: stretch;
}

.contenedor_caracteristicas div {
    width: 50%;
}

/*Zona de comentarios*/

.comment_box {
    padding: 1em;
}

.comment_titulo {
    font-size: medium;
    padding: 0.5em 0em;
}

.comment_texto {
    font-size: medium;
    color: teal;
}

.comment_fecha {
    font-size: medium;
    text-align: right;
    float: right;
    color: teal;
}

        